CompileFlags:
  Remove:
    - -Werror
    - -fcoroutines
    - -D_Noreturn*
    - -Wno-suggest-attribute=*
    - -Wno-abi-tag
    - -Wno-multiple-inheritance
    - -Wno-c++20-compat
    - -Wno-disabled-optimization
    - -Wunused-const-variable=*
  Add:
    - -ferror-limit=0
    - -stdlib=libstdc++

---
If:
  PathMatch: '.*\.(C|cc|cpp|cxx|c\+\+|h|hh|hpp|hxx|h\+\+|ipp|ixx|cppm)$'
CompileFlags:
  Compiler: clang++
  Add:
    - -std=c++23

---
If:
  PathMatch:
    - build/.*
    - subprojects/.*
Diagnostics:
  Suppress: '*'
